.App {
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  display: flex;
  flex-direction: column;
  width:550px;
  text-align: center;
  top:0;
  left:50%;
  right:50%;
  bottom: 100%;
  transform: translate(-50%, -50%);
  margin-bottom: 36px;
}

.nav{
  background: #F55A5A;
  height:55px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.globe{
  width:24px;
  height:24px;
  margin-right: 5px;
}

.text{
  width:109px;
  align-items: center;
  margin-top: 20px;
  align-self: center;
  margin-bottom: 19px;
}

.dest{
  display: flex;
  margin-bottom: 36px;
  max-width: 550px;
}

.dest--pic{
  max-height: 100%;
  width: 150px;
  margin-right: 19px;
}

.info{
  text-align: left;
}

.dest--loc{
  margin-right: 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 12px;
  letter-spacing: 0.17em;
}

.map--img{
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

.Map{
  color: #918E9B;
}

.dest--date{
  font-weight: 700;
  font-size: 15px;
  line-height: 12px;
}

.dest--desc{
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
}

.dest--name{
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

